{{#unless this.started}}
  <div class="splash" {{on 'click' this.start}} >
    <img src="./svg/intro.svg" />
    <h3>Semana de Mayo</h3>
    <p>Arrastrá y ordená los sucesos de la Semana de Mayo.</p>
    <p>TOCÁ LA PANTALLA PARA COMENZAR</p>
  </div>
{{else}}
  {{#if this.done}}
    <div class="splash" {{on 'click' start}} >
      <img src="./svg/end.svg" />
      <h3>¡Terminaste!</h3>
      <p>TOCÁ LA PANTALLA PARA VOLVER A JUGAR</p>
    </div>
  {{else}}
    <Fact @facts={{facts}} @onWin={{onWin}} />
  {{/if}}
{{/unless}}

