{{#unless this.started}}
  <div class="splash" {{on 'click' this.start}} >
    <h3>¿Cómo nos cuidamos?</h3>
    <p>TOCA LA PANTALLA PARA COMENZAR</p>
  </div>
{{else}}
  {{#if this.done}}
    <div class="splash" {{on 'click' this.start}} >
      <h3>Quedate en casa</h3>
      <p>TOCA LA PANTALLA PARA VOLVER A JUGAR</p>
    </div>
  {{else}}
    <div class="puzzle">
      {{#each this.puzzle as |row j|}}
        <div class="row">
          {{#each row as |cell i|}}
            <div class="cell" {{on 'mousedown' (fn this.mouseDown i j)}} {{on 'mousemove' (fn this.mouseMove i j)}} {{on 'mouseup' (fn this.mouseUp i j)}} >
              <svg viewBox="0 0 10 10">
                <text x="5" y="8">{{cell}}</text>
              </svg>
            </div>
          {{/each}}
        </div>
      {{/each}}
      <div class="markers" {{marker this.mouseDownPos this.mousePos this.cellSize }}></div>
      {{#each this.markers as |m j|}}
        <div class="markers" {{marker m.start m.end this.cellSize }}></div>
      {{/each}}
    </div>
  {{/if}}
{{/unless}}

