{{#unless this.started}}
  <div class="splash" {{on 'click' this.start}} >
    <img src="./svg/virus.svg" />
    <h3>¿Cómo nos cuidamos?</h3>
    <p>Ordena las fichas para protegernos</p>
    <p>TOCA LA PANTALLA PARA COMENZAR</p>
  </div>
{{else}}
  {{#if this.done}}
    <div class="splash" {{on 'click' this.start}} >
      <img src="./svg/world.svg" />
      <h3>Quedate en casa</h3>
      <p>TOCA LA PANTALLA PARA VOLVER A JUGAR</p>
    </div>
  {{else}}
    <div class="cube">
      {{#each this.faces as |f|}}
        <CubeFace @face={{f}} @size={{this.size}} @checkStatus={{this.checkStatus}} />
      {{/each}}
      <div class="face bottom"/>
    </div>
  {{/if}}
{{/unless}}

